$fuente_principal: "Ubuntu", sans-serif;

$fondo: #1d1e3e;
$fondoOscuro: #0b0c29;
$naranja: #f28b12;
$verde: #29a237;
$verdeOscuro: #1b5a23;
$morado: #663a8f;
$grisoscuro: #3a3a3a;
$grisclaro: #e1e1e1;
$rojo: #c53838;
//tamaños media queris
$telefono: 320px;
$tablet: 570px;
$desktop: 768px;
$desktopxl: 1200px;

