$fuente_principal: "Ubuntu", sans-serif;

$fondo: #1d1e3e;
$naranja: #f28b12;
$verde: #29a237;
$morado: #663a8f;
$grisoscuro: #3a3a3a;
$grisclaro: #e1e1e1;
$rojo: #c53838;
//tamaños media queris
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopxl: 1200px;
