@use "../base/variables" as v;
@use "../base/mixins" as m;


.contRegister{
  margin: 4rem auto;
}
@include m.telefono{
  .flex{
    width: 95%;
    margin: 0 auto;
  }
 
}


@include m.telefono{
  .contLogin {
    position: relative;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    padding: 2rem;
    max-height: fit-content;
    background-color: v.$fondoOscuro;
    color: v.$grisclaro;
    @include m.borderRadius;
    padding: 1rem 0;
  
    .close {
      position: absolute;
      right: 10px;
      top: 2px;
      background: none;
      color: v.$rojo;
      border: none;
      padding: 0.5rem;
      @include m.borderRadius;
      &:hover {
        cursor: pointer;
        color: v.$grisclaro;
        background-color: v.$grisclaro;
        color: v.$rojo
      }
    }
    .contLogin-content {
      width: 95%;
      margin: 0 auto;
      input {
        @include m.inputs;
      }
      select {
        @include m.inputs;
      }
      .file {
        @include m.file;
      }
      .buttonPrimary {
        @include m.buttonPrimary;
        &:hover {
          cursor: pointer;
        }
      }
      .buttonSecondary {
        @include m.buttonSecondary;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
@include m.desktop{
  .contLogin {
    width: 600px;
    max-height: fit-content;
    padding: 2rem;
    .contLogin-content {
      width: 70%;
    }
  }
}

.error {
  @include m.error;
}

.input {
  @include m.input;
}

.inputError {
  @include m.inputError;
}
