@use "../base/variables" as v;
@use "../base/mixins" as m;


.contFavoritos{
    margin: 0 auto;
    width: 90%;
}

.second-grid{
   
    grid-column-start: 2;
    grid-column-end: 2;
    
}




.contNFTWallet{

    h2 {
        color: v.$naranja;
        font-size: 2.9rem;
        margin :0;
      }
      p {
        color: v.$grisclaro;
        font-size: 2rem;
        
    }
        span {
          color: v.$naranja;
          font-size: 2.3rem;
          font-weight: bold;
        }
    
        
        .imgFav{
            
            height: 250px;
            width: 250px;
            @supports(object-fit: cover){
                img{
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                  }
          
           
           
          }

}
}

.last-grid{
    grid-column-start: 4;
    grid-column-end: 4;
    @include m.buttonPrimary
}


.third-grid{
    grid-column-start: 3;
    grid-column-end: 3;
    display: inline-block;
}
.first-grid{
    grid-column-start: 1;
    grid-column-end: 1;
}

.btn-group {
    display: flex;
    width: 100%;
    @include m.borderRadius;
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;
    
}

.buy-button{
    margin: 0;
    @include m.buttonPrimary;
    font-size: 2rem;
}

.delete-button{
    margin: 0;
    @include m.buttonRojo;
    font-size: 2rem;
}

.back-button{
    @include m.buttonMorado;
    font-size: 2rem;
}

.disabled{
    @include m.buttonMorado;
    &:hover{
      cursor: not-allowed;
    }
    background-color: v.$verdeOscuro;
    width: 50%;
    opacity: 0.5;
}