@use "../base/variables" as v;
@use "../base/mixins" as m;


.contFavoritos{
    margin: 0 auto;
    width: 90%;
}



.iconFav{
    width: 25px;
    height: 25px;
    stroke-width: 2.5px;
}
@include m.telefono{
    .contNFTWallet{
        display: block;
        .imgFav{
           // height: 300px;
            width: 100%;
        }
        .btn-group {
            display: flex;
            width: 80%;
            justify-content:space-around;
            align-items: center;
            margin: 0 auto;
        }
    }
}
@include m.desktop{
    .contNFTWallet {
       @include m.grid(4, 1fr);
       gap: 2rem;
       width: fit-content;
        h2 {
            color: v.$naranja;
            font-size: 2.9rem;
            margin: 0;
        }
    
        p {
            color: v.$grisclaro;
            font-size: 2rem;
           
    
        }
    
        span {
            color: v.$naranja;
            font-size: 2.3rem;
            font-weight: bold;
        }
    
    
        .imgFav {
    
            height: 250px;
            width: 350px;
    
            @supports(object-fit: cover) {
                img {
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                }
            }
        }
    
    
    
    }
    .btn-group {
        display: flex;
        width: 100px;
        @include m.borderRadius;
        gap: 1rem;
        justify-content: flex-end;
        align-items: center;
    
    }
}



.buy-button {
    margin: 0;
    @include m.buttonPrimary;
    font-size: 2rem;
}

.delete-button {
    
    @include m.buttonRojo;
    font-size: 2rem;
    margin: 0;
}

.last-grid{
    grid-column-start: 4;
    grid-column-end: 4;
    @include m.buttonPrimary
}


.third-grid{
    grid-column-start: 3;
    grid-column-end: 3;
    display: inline-block;
}
.first-grid{
    grid-column-start: 1;
    grid-column-end: 1;
}
.second-grid{
    color: v.$naranja;
    margin: 0
}

.back-button{
    @include m.buttonMorado;
    font-size: 2rem;
}

.disabled{
    @include m.buttonMorado;
    &:hover{
      cursor: not-allowed;
    }
    background-color: v.$verdeOscuro;
    width: 50%;
    opacity: 0.5;
    
}

.disableCreate{
    @include m.buttonPrimary;
    opacity: 0.5;
}