@use '../base/variables' as v;
@use '../base/mixins' as m;

.contLanding{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contLandingOne{

    @include m.desktop{
        @include m.grid(2, 1rem);
        align-items: center;
        width: 800px;
    }
}

