@use '../base/variables' as v;

.contenedor_nav{
    background-color: aqua;
    width: 90%;
    margin: 0 auto;
    
     p{
            color: v.$color_secundario;
            font-weight: 900;
            font-size: 2.5rem;
    }
       
    
    
}
.div{
    background-color: black;
    height: 200px;
    .div_1{
        background-color: rgb(158, 158, 52);
        height: 150px;
        .div_2{
            background-color: rgb(247, 86, 86);
            height: 100px;
        }

        &:hover{
           background-color: red; 
        }
    }
   
}
