@use '../base/variables' as v;
@use '../base/mixins' as m;


.contentNav{
    display: block;
    width: 90%;
    margin: 0 auto;
    @include m.desktop{
        @include m.grid(4, 1fr)
    }
    
    
    margin: 2rem auto;
    .logo{
        width: 90%;
        margin: 0 auto;
        @include m.desktop{
            width: 220px;
            height: 55px;
        }   
       
    }
    .perfil{
        grid-column: 4/5;
        display: flex;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        @include m.desktop{
            
            justify-content: space-between;
        }
       
        p{
            width: 70%;
            color: v.$grisclaro;
            span{
                color: v.$naranja;
                font-weight: 700;
            }
        }
        img{
            display: inline-block;
                width: 50px;
                height: 50px;
            
            
        }
    }
}
