@use "../base/variables" as v;
@use "../base/mixins" as m;

.contentNav {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(11,12,41,1);
  z-index: 10;
  @include m.desktop {
    @include m.grid(4, 1fr);
  }

  margin: 2rem auto;

  .perfil {
    grid-column: 3/5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    margin: 0 auto;
    @include m.desktop {
      justify-content: flex-end;
      gap: 2rem;
    }
    p{
      color:  v.$grisclaro;
    }
    span {
        color: v.$naranja;
        font-weight: 700;
        font-size: 3rem;
      }
    .image-click{
      display: inline-block;
      width: 50px;
      height: 50px;
      background-size: cover;
      @supports(object-fit: cover){
        img{
         height: 100%;
         object-fit: cover;
         object-position: center center;
       }
   }
    }
   
    .contBell{
      position: relative;
      width: 35px;
      &:hover{
        transform: scale(1.1);
        cursor: pointer;
      }
      .contBell-text{
        position: absolute;
        color: v.$grisclaro;
        top: -8px;
        left: 19px;
       font-size: 9px;
      }
      .bell{
        width: 30px;
        height: 30px;
        margin: 0;
        transition:.4s;
        // &:hover{
        //   transform: scale(1.1);
        //   cursor: pointer;
        // }
      }
    }
  
  }
 
}

.logo {
  width: 90%;
  margin: 0 auto;
  @include m.desktop {
    width: 220px;
    height: 55px;
  }
}
