@use "../base/variables" as v;
@use "../base/mixins" as m;


.contNFT{
  position: relative;
    padding: 1rem;
    width: 280px;
    height: fit-content;
    margin: 1rem auto;
    border: solid v.$naranja 1px ;
    margin: 0 auto;
    @include m.borderRadius;
   .venta {
    @include m.venta;
  }
  .enVenta {
    @include m.enVenta;
  }
  .noVenta {
    @include m.noVenta;
  }
  .textVenta{
    color: v.$grisclaro;
    margin-right: 1rem;
  }
    .contImg{
        position: relative;
        height: 260px;
        width: 100%;
        background-size: cover;
        @supports(object-fit: cover){
             img{
              height: 100%;
              object-fit: cover;
              object-position: center center;
            }
        }


    img {
      height: 100%;
    }
  }

  h2 {
    color: v.$naranja;
    font-size: 2.9rem;
    margin: 0;
  }
  p {
    color: v.$grisclaro;
    font-size: 2rem;
    line-height: 1.2;
    margin: 0;
    span {
      color: v.$naranja;
      font-size: 2.3rem;
      font-weight: bold;
    }
  }
  .contNFTinfo {
    width: 100%;
    .porcentajeMenos {
      color: v.$rojo;
      font-weight: bold;
    }
    .porcentajeMas {
      color: v.$verde;
      font-weight: bold;
    }
  }
  .contButtons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  .w-50 {
    width: 50%;
  }
  .buttonTrade {
    @include m.buttonTrade;
    width: 50%;
  }
  .buttonFav{
    width: 30px;
    position: absolute;
    bottom: 95px;
    left: 85%;
    &:hover{
      cursor: pointer;
    }
  }
}
.contPrice {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
  align-items: center;
}
.contIcon {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.iconcl {
  width: 25px;
  display: inline-block;
  margin: 0;
}
.input{
  @include m.inputs;
  margin-top: 2rem;
  display: block;
}
.buttonPrimary{
  display: block;
  
}
.contInput{
  width: 100%;
}
.heigth{
  height: 100%;
  background: none;
}
