@use "../base/variables" as v;
@use "../base/mixins" as m;

.displayNone{
  display: none;
}
.displayBlock{
  display: block;
}
#contNotification{
  z-index: 1000;
  margin: 0 auto;
  ul{
    padding: 0;
  }
  .notification{
    background-color: v.$fondoOscuro;
    padding: 1rem;
    margin: 1rem auto;
    list-style: none;
    color: v.$grisclaro;
   
    &:hover{
      cursor: pointer;
    }
  }
  .notiFalse{
    background-color: v.$fondoOscuro;
    padding: 1rem;
    margin: 1rem auto;
    list-style: none;
    color: v.$naranja;
   
    &:hover{
      cursor: pointer;
    }
  }
  .viewAll{
   
    margin: 0 auto;
    transition: 0.5s;
    width: fit-content;
    a{
      color: v.$naranja;
      text-align: center;
      &:hover{
        color: v.$grisclaro;
      }
    }
    
  }
}

@include m.desktop{
  #contNotification{
    position: absolute;
    background-color: v.$fondo;
    border: solid 1px v.$grisclaro;
    @include m.borderRadius;
    width: 250px;
    padding: 1rem;
    top:12%;
    right: 12%;
  }
}
@include m.desktopxl{
  #contNotification{
    right: 12%;
    top:10%;
  }
}
@include m.telefono {
  .customStylesNotification{
    z-index: 5;
    position: absolute;
    top:10rem;
    left: 0;
    width: 300px;
    padding:0.5rem;
    background-color: v.$fondo;
    color: v.$grisclaro;
    @include m.borderRadius;
}
}
@include m.tablet{
  .customStylesNotification{
    top:32rem;
    left: 70%;
    width: 300px;
}
}
@include m.desktop{
  .customStylesNotification{
    top:30rem;
    left: 81%;
    width: 300px;
}
}

