@use "../base/variables" as v;
@use "../base/mixins" as m;

@include m.telefono {
  .contButton {
    display: block;
    margin: 0 auto;
    .center{
      width: 100%; 
        button{
          width: 100%;
        }
      
    }
  }
}

@include m.desktop{
  .contButton{
    @include m.grid(3, 1fr);
    .center{
      margin: 0 auto;
      width: 90%; 
    }
  }
}
.contTittle {
  width: 90%;
  margin: 0 auto;
  display: block;
  @include m.desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h2 {
    margin: 1rem 0;
  }
}
.coleccion {
  @include m.borderRadius;
  cursor: pointer;
  background-color: v.$naranja;
  border: none;
  margin: 1rem 0;
  padding: 1rem;
  color: v.$grisclaro;
}

.portfolioCreateNft {
  @include m.buttonPrimary;
  width: 90%;
  margin: 1rem auto;
  display: block;
  @include m.desktop {
    width: fit-content;
  }
}

.portfolioCreateColection {
  @include m.buttonOrange;
  display: block;
  width: 90%;
  margin: 1rem auto;
  @include m.desktop {
    width: fit-content;
  }
}
.portfolioFavoritos {
  @include m.buttonMorado;
  display: block;
  width: 90%;
  margin: 1rem auto;
  @include m.desktop {
    width: fit-content;
  }
}
.tuPortfolio {
  color: v.$grisclaro;
}

.buttonOrange {
  @include m.buttonOrange;
}

.buttonMorado {
  @include m.buttonMorado;
}
.contLogin{
  .contInput{
    width: 100%;
    margin: 0 auto;
    input{
      margin: 2rem auto;
    }
  }
  .contButonColection{
    width: 90%;
    margin: 0 auto;
    .buttonColection{
      @include m.buttonPrimary;
      width: 100%;
    }
  }
}
