@use "../base/variables" as v;
@use '../base/mixins' as m;


@include m.telefono{
    .customStyles{
        position: absolute;
          top: 42%;
          left: 60%;
          right: auto;
          bottom: auto;
          margin-right: -50%;
          transform: translate(-50%, -50%);
          padding: 0;
          width: 250px;
      };
}



@include m.desktop{
    .customStyles{
          top: 32%;
          left: 80%;
          width: 400px;
      };
}

  

.perfil{
    position: relative;
   
}
.image-click{
    cursor: pointer;
}
.boton {
    background-color: red;
    cursor: pointer;
  }

.profileModal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    background-color: v.$fondo;
    color: v.$grisclaro;
    padding: 2rem 0;
}

.divPortfolio{
   
    border: none;
    color: v.$grisoscuro;
    background-color: v.$grisclaro;
    height: 80px;
    width: 90%;
    margin: 0 auto;
    @include m.borderRadius;
    padding: 1rem;
    a{
        width: 100%;
        @include m.grid(3,1fr);
        align-content: center;
    }
    h3{
        grid-column: 1/3;
        margin: 0;
       color: v.$grisoscuro;
    }
    &:hover{
        background-color: #c5c5c5;
    }
}
.icon{
    height: 60px;
    width: 60px;
    grid-column: 3/4;
    color: v.$naranja;
    display: inline-block
  
}