@use '../base/variables' as v;
@use '../base/mixins' as m;


.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
   
    .contREsetPassword-content{
        h3{
            width: 4rem;
            color: v.$grisclaro;
        }
    }
}