@use "../base/variables" as v;
@use "../base/mixins" as m;

.contSettings{
    width: 90%;
    margin: 0 auto;
}
.contSettings-info{
    
    width: 80%;
    margin: 0 auto;
    
    .enlace{
        margin: 0 auto;
        width: 80%;
    }
    button{
        @include m.buttonMorado;
        width: 100%;
        margin: 4rem auto;
    }
  
    .contProfile{
        position: relative;
        width: 300px;
        height: 300px;
        background-size: cover;
        img{
            height: 100%;
            object-fit: cover;
            object-position: center center;
          }
        .contFile{
            position: absolute;
            right: 0;
            bottom: 0rem;
            text-align: center;
            color: v.$grisclaro;
            label{
                margin: 0;
            }
        }
       
    }
   
   #mifile{
    display: none;
    margin: 2rem auto;
   }
    .labelmiinput{
        margin: 2rem auto;
        font-size: 14px;
        font-weight: bold;
        color: v.$grisclaro;
        background-color: v.$fondoOscuro;
        transition: all .5s;
        cursor: pointer;
        padding: 15px 40px !important;
        text-transform: uppercase;
        width: fit-content;
        text-align: center;
        display: block
    }
   }
   @include m.desktop{
    .contSettings-info{
        @include m.grid(2, 1fr)
    }
}