@use '../base/variables' as v;
@use '../base/mixins' as m;

.contentTopPortfolios{
    width: 95%;
    margin: 2rem auto;
    border-top: solid 1px v.$grisclaro;
    padding: 2rem 0;
    .TitleTopPortfolios{
        text-align: left;
        font-size: 3rem;
        color: v.$grisclaro;
        
    }
    .contentTopPortfolios--contendio{

        background-color: v.$fondoOscuro;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem ;
        margin: 1rem auto;
        @include m.borderRadius;
        .navTopPortfolio{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2rem;
            width: 100%;
            .contImgProfile{
                height: 80px;
                .profilePicture{
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                }
            }
            
            .nameUser{
                font-weight: bold;
                font-size: 2.5rem;
                color: v.$grisclaro;
            }
        }
        .contentSwiper{
            width: 98%;
            margin: 1rem auto;
            .swiper{
                height: 570px;
                z-index: 0;
            }
        }
       
       
    }
}
