@use '../base/variables' as v;
@use '../base/mixins' as m;

.wallet-panel {
    width: 30%;
    @include m.borderRadius;
    border: solid 1px v.$naranja;
    margin: 1rem auto;
    text-align: center

    
}

.contNFTWallet {
    @include m.grid(4,1fr);
    align-items: center;
    text-align: left;
    width: 90%;
    margin: 1rem auto;
    border: solid 1px v.$naranja;
    padding: 1rem;
    @include m.borderRadius;
    p{
        color: v.$grisclaro;
        margin: 0;
    }
}

.ContenedorGeneralWallet {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
}

.ContenedorCardsWallet {
    width: 70%;
    display: flex;
    flex-direction: column-reverse;
}

.contenedorColection{
    p{
        color: v.$naranja;
    }
}

.block{
    display: block;
    margin: 1rem auto;
    
}

.balanceWallet{
    color: v.$grisclaro;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}